nav {
    background-color: #f3ebf3;
}

.fa-shopping-cart:hover {
    color: #a164ce !important;
}


body {
    text-align: center !important;
}

.head-title {
    font-size: 2.5rem !important;
    line-height: 4rem;
    padding: 50px;
}

.row {
    height: 90vh;
}

.all-products {
    margin: 25px;
}

.card {
    padding: 25px;
    border-radius: 25px !important;
    width: 30vw;
    margin: 10px;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.1), 0 15px 25px rgb(0, 0, 0, 0.1);

}

.card img {
    border-radius: 25px;
}

.btn {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

footer {
    padding: 50px;
    background-color: #f3ebf3;
    
}

footer a {
    color: black;
}



@media only screen and (max-width: 600px) {
    .card {
        width: 100vw;
    }

    h1 {
        font-size: x-small !important;
        font-weight: 300 !important;
    }
}

/* product page css */

.product {


    background-color: #a164ce;
    color: black;
    padding: 80px;
    display: flex;
    justify-content: center;
    height: auto;


}

.product img {
    border-radius: 25px;

}

/* cart page css */
.details {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.validation-form {

    background-color: #a164ce;

    margin: 100px;

    border-radius: 25px;
}