* {
    font-family: 'Montserrat';
}

nav {
    background-color: #f3ebf3;
}

.fa-shopping-cart:hover {
    color: #a164ce !important;
}

.fa-shopping-cart {
    position: absolute;
}

#count {
    position: relative;
    left: 15px;
    top: -18px;
    color: #a164ce;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'montzerat';
}

.head-title {
    font-size: 2.5rem !important;
    line-height: 4rem;
    padding: 50px;
}

.row {
    height: 90vh;
}

.all-products {
    margin: 25px;
}

.card {
    padding: 25px;
    border-radius: 25px !important;
    width: 30vw;
    margin: 15px;
    box-shadow: 0 15px 25px rgb(0, 0, 0, 0.1), 0 15px 25px rgb(0, 0, 0, 0.1);

}

.card img {
    border-radius: 25px;
}

.btn {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

footer {
    padding: 50px;
    background-color: #f3ebf3;
}

footer a {
    color: black;
    padding: 0 20px;
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: small;
    }
}

/* product page css */
.product {
    background-color: #a164ce;
    color: black;
    display: flex;
    justify-content: center;
    height: auto;
    padding: 15px;
}

.product img {
    border-radius: 25px;
}

@media only screen and (max-width: 900px) {
    .card {
        width: 80vw !important;
    }
}

/* cart page css */
.cart {
    background-color: #a164ce;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

table {
    border-collapse: separate;
    border-spacing: 0 10px;
    width: 100%;
}

th,
td {
    width: 100px;
    text-align: center;
    padding: 5px;
}

/* confirmation page */
.confirmation {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}